<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.fit.printer.bixolon"
	version="0.0.1">
	<name>Echo</name>
	<description>Fit Ideas Bixolon Printer Plugin</description>
	<license>Apache 2.0</license>
	<keywords>fit ideas,bixolon</keywords>
	<js-module src="www/bixolonprinter.js" name="bixolonprinter">
		<clobbers target="bixolonprinter" />
	</js-module>
	<platform name="android">
	    <config-file target="AndroidManifest.xml" parent="/manifest">
    		<uses-permission android:name="android.permission.BLUETOOTH" />
    		<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
		</config-file>
	
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="BixolonPrinter">
				<param name="android-package" value="com.fit.printer.BixolonPlugin" />
			</feature>
		</config-file>
		<source-file src="src/com/fit/printer/BixolonPlugin.java" target-dir="src/com/fit/printer/" />
		<source-file src="src/BixolonPrinter.jar" target-dir="libs"/>
	</platform>
</plugin>